:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .list {
    height: 100vh;
    padding: 0 20px;
    border-right: black 2px solid;
    width: 25%;
    overflow-y: scroll;
  }

  .details {
    position: relative;
    width: 75%;
  }
}
