<div
  routerLinkActive="item_active"
  [class]="[item.isDeleted ? 'item_disabled' : 'item']"
  [routerLink]="item.isDeleted ? null : ['/item', item.name, item.shortInfo, item.id]"
>
  <div class="item__info">
    <span class="name">{{(item.isDeleted ? 'Deleted ' : '') + item.name}}</span>
    <span class="short-info">
      {{item.isDeleted ? 'deleted at ' + (dateDelete| date: 'dd.MM.yy @ hh.mm') : item.shortInfo}}
    </span>
  </div>
  <button class="btn_close" (click)="onDeleteItem()">{{item.isDeleted ? 'R' : 'X'}}</button>
</div>
