:host {
  display: flex;
  justify-content: space-between;
  border: 1px solid #009292;
  margin: 7px 0;
  padding: 3px;
  font-size: 18px;

  .item {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .item__name {
      font-weight: bold;
      color: #3734ff;
    }

    .item__short-info {
      color: #009292;
    }
  }

  .btn_close {
    display: flex;
    align-self: flex-start;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
    color: #d66c00;
    font-weight: bold;
    cursor: pointer;
  }
}
